{% extends 'homebase.html' %}
{% load static %}
{% block title %}About Us -{{ setting.title }} {% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block sidebar %}{% include 'sidebar.html' %} {% endblock %}

{% block body %}
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                {{ setting.aboutus|safe }}
                {{ setting.address|safe }}
                {{ setting.title|safe }}

            </div>
        </div>
    </div>
{% endblock %}
{% block footer %} {% include 'footer.html' %}{% endblock %}