{% extends 'homebase.html'%}
{% load static %}
{% block title %} Order Complete {% endblock %}
{% block description %}  {{ category.description }}{% endblock %}
{% block keywords %}  {{ category.keywords }}{% endblock %}

{% block sidebar %}{% include 'sidebar.html' %} {% endblock %}

{% block body %}
    	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active"> Order Complete </li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

                    <div class="col-md-12">
						<div class="order-summary clearfix">
							<div class="section-title">
								<h3 class="title">Order Completed</h3>
							</div>
                            <hr>
                            <h2>Dear {{ user.first_name }} {{ user.last_name }}</h2>
                            <hr>
                            <h3>Your order is completed</h3>
                            <h3>Order Code: {{ ordercode }}</h3>
                            <h3>Thank You!</h3>
                            <hr>


						</div>

					</div>

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->


 {% endblock %}
{% block footer %}{% include 'footer.html' %} {% endblock %}